*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 20px;
}

.col{
    width: 300px;
   padding: 10px;
    border: 2px solid;
}

.col img{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
}

.btn{
    text-align: center;
}